<!DOCTYPE html>
<html>
<head>
  <title>Tweo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= form_tag("/tweets/show", method: "get") do %>
  <%= label_tag(:q, "Seach for:")%>
  <%= text_field_tag(:q)%>
  <%= submit_tag("Search")%>
  <% end %>

<%= yield %>

</body>
</html>
